body {
    font: normal 300 18px "Roboto", sans-serif;
    background: linear-gradient(45deg,#93a5cf,#e4efe9);
    background-size: cover;
    background-repeat: no-repeat;
  }
   
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: rgba(183, 33, 255,0.47);
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.navbar .logo h3{
    color: #fff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
    font-weight: bold;
}
.navbar .logo span{
    color:  #5383d3; 
}

.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.banner{
  background: url("about.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}




/*about quote*/
.aboutquote{
    background-color: rgba(255,255,255,0.43);
    backdrop-filter: blur(5px);
    width: 1200px;
    height: 280px;
    border-radius: 10px;
    margin-left: 95px;
    margin-bottom: 30px;

   }
   .aboutp{
       padding: 20px 20px;
       align-self: center;
       font-weight: bold;
       font-size: 45px;
       font-family: 'Times New Roman', Times, serif;
       color: #000;

   }
   .aboutp em{
       font-size: 20px;
       font-weight: 200;

   }
   
   @media screen and (max-width: 1300px) {
    .aboutquote{
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(5px);
        height: 250px;
        margin-bottom: 35px;
        width: 880px;
        padding: 10px;
        margin-bottom: 25px;
        margin-left: 90px;
        margin-right: 2px;
    
       }
       .aboutp{
           padding: 20px 20px;
           align-self: flex-start;
           font-weight: 800;
           font-size: 38px;
           font-family: 'Times New Roman', Times, serif;
    
       }
       .aboutp em{
           font-size: 20px;
           font-weight: 200;
    
       }
   }
   @media screen and (max-width: 1100px) {
    .aboutquote{
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(5px);
        height: 280px;
        margin-bottom: 35px;
        width: 760px;
        padding: 10px;
        margin-bottom: 25px;
        margin-left: 40px;
        margin-right: 2px;
    
       }
       .aboutp{
           padding: 20px 20px;
           align-self: flex-start;
           font-weight: 800;
           font-size: 35px;
           font-family: 'Times New Roman', Times, serif;
    
       }
       .aboutp em{
           font-size: 20px;
           font-weight: 200;
    
       }
   }

   @media screen and (max-width: 850px) {
    .aboutquote{
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(5px);
        height: 310px;
        margin-bottom: 35px;
        width: 550px;
        padding: 10px;
        margin-bottom: 25px;
        margin-left: 80px;
        margin-right: 2px;
    
       }
       .aboutp{
           padding: 20px 20px;
           align-self: flex-start;
           font-weight: 800;
           font-size: 31px;
           font-family: 'Times New Roman', Times, serif;
    
       }
       .aboutp em{
           font-size: 20px;
           font-weight: 200;
    
       }
   }

   
   @media screen and (max-width: 650px) {
    .aboutquote{
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(5px);
        height: 350px;
        margin-bottom: 35px;
        width: 430px;
        padding: 10px;
        margin-bottom: 25px;
        margin-left: 40px;
        margin-right: 2px;
    
       }
       .aboutp{
           padding: 20px 20px;
           align-self: flex-start;
           font-weight: 800;
           font-size: 28px;
           font-family: 'Times New Roman', Times, serif;
    
       }
       .aboutp em{
           font-size: 20px;
           font-weight: 200;
    
       }
   }


   /*about quote ends here*/

  /*about page main content starts here*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.about-wrapper{
    height: 100vh;
}
.about-left{
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color:#fff
}
.about-left-content > div{
    background: #12192c;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
    
    border-radius: 12px 12px 0 0;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    border-radius: 12px;
    width:80%;
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}



.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #B721FF;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.icons{
    background: #12192c;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    border-radius: 0 0 12px 12px;
}
.icons li{
    list-style-type: none;
    background: #B721FF;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #edffec;
    color: #000;
}
.about-right{
    background: #12192c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
    color:#fff
}
.about-right h1{
    font-size: 5rem;
    text-transform: uppercase;
}
.about-right h1 span{
    color: #B721FF;
}
.about-right h2{
    font-weight: 600;
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    color:#fff
}
.btn.btn-pink{
    background: #B721FF;
    color: #fff;
    border-color: #B721FF;
    transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover{
    background: transparent;
    border-color: #fff;
    color: #fff;
}
.btn.btn-white{
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    background: #B721FF;
    border-color: #B721FF;
    color: #fff;
}
.about-para p{
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        width:80%
    
    }
}
.credit{
    text-align: center;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.credit a{
    text-decoration: none;
    color:#B721FF;
    font-weight: bold;
} 



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  
  
  .about-section {
    padding: 30px;
    text-align: center;
    background-color: rgba(255,255,255,0.43);
    backdrop-filter: blur(5px);
    background-size: cover;
    background-repeat: no-repeat;
    height: 390px;
    margin-bottom: 35px;
    width: 1350px;
    color: #000;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.about-section a:hover{
    color: magenta;
 
  }
  @media (max-width: 800) { 
  .about-section  a{
      color: #B721FF;
  }
   }
  .about-section a:hover{
      color: magenta;
  }
  .kiti{
      color: #B721FF;
      font-size: 35px;
      font-weight: bolder;
    
    }

  
  @media screen and (max-width: 1350px) {
    .column {
      width: 100%;
      display: block;
    }
    .about-section{
      display: block;
      height: 770px;
    margin-bottom: 35px;
    width: 1100px;
    font-size: 38px;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 115px;
    margin-right: 10px;
    

    }

    
  }
  @media screen and (max-width: 980px) {
    .column {
      width: 100%;
      display: block;
    }
    .about-section{

      height: 650px;
    margin-bottom: 35px;
    width: 800px;
    font-size: 29px;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 10px;

    }

  }
  @media screen and (max-width: 850px) {
    .column {
      width: 100%;
      display: block;
    }
    .about-section{
     
      height: 720px;
    margin-bottom: 35px;
    width: 600px;
    font-size: 26px;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 10px;
   

    }

  }
  @media screen and (max-width: 750px) {
    .column {
      width: 100%;
      display: block;
    }
    .about-section{
      display: block;
      height: 670px;
    margin-bottom: 35px;
    width: 500px;
    font-size: 23px;
    padding: 10px;
    margin-bottom: 15px;
    margin-left:95px;
    margin-right: 10px;

    }
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
    .about-section{
      display: block;
      height: 630px;
    margin-bottom: 35px;
    width: 430px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 2px;

    }
  }



/*footer*/

   footer{
    position: bottom;
    bottom: 0;
   }
   .footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    
    padding: 55px 50px;
    margin-top: 80px;
   }
    
   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
   }
    
   .footer-distributed .footer-left{
    width: 40%;
   }
    
   .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
   }
    
   .footer-distributed h3 span{
    color:  #5383d3;
   }
    
    
   .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
   }
    
   .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
   }
    
   .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
   }
    
    
   .footer-distributed .footer-center{
    width: 35%;
   }
    
   .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
   }
    
   .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
   }
    
   .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
   }
    
   .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
   }
    
   .footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
   }
    
   .footer-distributed .footer-right{
    width: 20%;
   }
    
   .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
   }
    
   .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
   }
    
   .footer-distributed .footer-icons{
    margin-top: 25px;
   }
    
   .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    
    margin-right: 3px;
    margin-bottom: 5px;
   }
   .footer-distributed .footer-icons a:hover{
     font-size: 23px;
     color: dodgerblue;
}
    
    
   @media (max-width: 880px) {
    
    .footer-distributed{
    font: bold 14px sans-serif;
    
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    }
    
    .footer-distributed .footer-center i{
    margin-left: 0;
    }
    .main2 {
    line-height: normal;
    font-size: auto;
    }
    
   }




